*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primaryLATEX: #070015;
  --primaryTransparentLATEX: #070015bd;
  --light-primaryLATEX: #050010;
  --secondaryLATEX: #ff0130;
  --tertiaryLATEX: #a0a7d2;
  --highlightLATEX: #fb2576;
  --dark-highlightLATEX: #580e2a;
  --light-highlightLATEX: #606d26;
}

.bodyLATEX {
  height: 50px;
  width: 50px;
  background-color: var(--primaryLATEX);
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkboxLATEX {
  display: none;
}

.clickLATEX {
  display: block;
  background-color: var(--highlightLATEX);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 5px 0 1px var(--dark-highlightLATEX);
}

.clickLATEX:active {
  transform: translateY(5px);
  box-shadow: none;
}

.boxLATEX,
.boxTransparentLATEX {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 700px;
  width: 1200px;
  background-color: var(--primaryLATEX);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 8px;
  z-index: 10000;
  gap: 16px;
  transition: 0.25s;
}

.boxTransparentLATEX {
  background-color: var(--primaryTransparentLATEX);
}

.inputLATEX {
  padding: 8px;
  margin: auto;
  text-align: center;
  font-size: 20px;
  width: 90%;
  outline: none;
  border: none;
  color: var(--tertiaryLATEX);
  border-radius: 4px;
  background-color: var(--light-primaryLATEX);
}

.equation-containerLATEX {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow-x: auto;
}

.equationLATEX {
  color: var(--highlightLATEX);
  font-size: 100px;
  display: inline;
  padding: 8px;
  user-select: none;
  cursor: pointer;
}

.katex {
  display: inline;
}

.katex .katex-html {
  display: none;
}

.footerLATEX {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.copyLATEX,
.screenshotLATEX,
.cleanLATEX {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 4px;
  color: var(--tertiaryLATEX);
  cursor: pointer;
  transition: 0.25s ease-in-out;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
  border-radius: 8px;
}

.copyLATEX:hover,
.screenshotLATEX:hover,
.cleanLATEX:hover {
  scale: 1.1;
  background-color: var(--light-primaryLATEX);
}

.checkLATEX {
  position: relative;
  width: 12px;
  height: 12px;
  cursor: pointer;
  opacity: 1;
  background-color: var(--secondaryLATEX);
  transition: 0.25s;
  border: 3px solid var(--secondaryLATEX);
  border-radius: 0;
  background-color: transparent;
  transform: rotate(45deg);
}

.check-greenLATEX {
  position: relative;
  width: 12px;
  height: 12px;
  cursor: pointer;
  opacity: 1;
  transition: 0.25s;
  border: 3px solid var(--secondaryLATEX);
  border-radius: 50%;
  background-color: var(--secondaryLATEX);
  transform: rotate(0deg);
}
