.bodyLATEX *,
.bodyLATEX *::after,
.bodyLATEX *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primaryLATEX: #070015;
  --primaryTransparentLATEX: #07001574;
  --light-primaryLATEX: #050010;
  --secondaryLATEX: #ff0130;
  --tertiaryLATEX: #a0a7d2;
  --highlightLATEX: #fb2576;
  --dark-highlightLATEX: #580e2a;
  --light-highlightLATEX: #606d26;
  --border-blue: #6fa7b1;
}

#popup {
  user-select: none;
  -webkit-user-drag: none;
}

.bodyLATEX {
  height: 50px;
  width: 50px;
  background-color: var(--primaryLATEX);
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickLATEX {
  display: block;
  background-color: var(--highlightLATEX);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 5px 0 1px var(--dark-highlightLATEX);
}

.clickLATEX:active {
  transform: translateY(5px);
  box-shadow: none;
}

.boxLATEX {
  position: fixed;
  height: 700px;
  max-width: 1200px;
  min-width: 400px;
  min-height: 400px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 8px;
  z-index: 9999999;
  gap: 16px;
  border: 1px solid var(--border-blue);
}

.disappearLATEX {
  animation: 0.3s disappearLATEX ease-out both;
}

.appearLATEX {
  animation: 0.6s appearLATEX ease-out;
}

@keyframes disappearLATEX {
  0% {
    opacity: 1;
    scale: 1;
  }

  50% {
    scale: 0.8;
  }

  100% {
    opacity: 0;
    scale: 0.7;
  }
}

@keyframes appearLATEX {
  0% {
    scale: 0;
  }

  50% {
    scale: 1.01;
  }

  100% {
    scale: 1;
  }
}

.inputLATEX {
  padding: 8px;
  margin: auto;
  text-align: center;
  font-size: 20px;
  width: 90%;
  outline: none;
  border: none;
  color: var(--tertiaryLATEX);
  border-radius: 4px;
}

.equation-containerLATEX {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.equationLATEX {
  font-size: 100px;
  display: inline;
  padding: 16px;
  user-select: none;
}

.footerLATEX {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.copyLATEX,
.screenshotLATEX,
.cleanLATEX,
.closeLATEX {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 4px;
  color: var(--tertiaryLATEX);
  cursor: pointer;
  transition: 0.25s ease-in-out;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
  border-radius: 8px;
  z-index: 10001;
}

.copyLATEX:hover,
.screenshotLATEX:hover,
.cleanLATEX:hover,
.closeLATEX:hover {
  scale: 1.1;
  background-color: var(--light-primaryLATEX);
}

.color-pickerLATEX {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.color-pickerLATEX::-webkit-color-swatch {
  border-radius: 7px;
  border: 1px solid var(--tertiaryLATEX);
}
.color-pickerLATEX::-moz-color-swatch {
  border-radius: 7px;
  border: 1px solid var(--tertiaryLATEX);
}

.hookLATEX {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: red;
}
