:root {
  --primary: #191919;
  --secondary: #750E21;
  --tertiary: #E3651D;
  --highlight: #BED754;
}

body {
  height: 500px;
  width: 700px;
  left: 0;
  font-family: Arial, sans-serif;
  background-color: var(--primary);
  padding: 12px;
}

.input-container {
  display: flex;
  justify-content: center;
}

input {
  padding: 8px;
  text-align: center;
  font-size: 20px;
  width: 90%;
  outline: none;
  background-color: transparent;
  border: none;
  color: var(--tertiary);
  border-bottom: 3px solid var(--secondary);
}

.equation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.equation {
  color: var(--highlight);
  font-size: 24px;
  display: inline;
  max-width: 550px;
  overflow-x: auto;
  padding: 8px;
}

.katex {
  display: inline;
}

.katex .katex-html {
  display: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.copy {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 12px;
  color: var(--tertiary);
  border: 2px solid var(--secondary);
  width: 100%;
  cursor: pointer;
}